.credit-title {
    color: #00FF41 !important;
    font-weight: 900;
    margin-top: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.credit-subtitle {
    color: #007bff !important;
    font-weight: 800;
    margin-top: 20px;
}

.credit-text {
    margin-left: 10%;
    margin-right: 10%;
    color: #ffffff;
    font-size: 1.1rem;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .credit-text {
        margin-left: 5%;
        margin-right: 5%;
        text-align: center !important;
    }
}